/* src/components/TaskList.css */
.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .task-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .task-card h3 {
    margin-top: 0;
  }
  
  .task-card p {
    margin: 5px 0;
  }
  
  .task-card button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 7%;
    color: rgb(179, 0, 255);
  }
  
  .task-card button:hover {
    background-color: #ddd;
    
  }
  
  .task-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  .high-priority {
    background-color: #ffcccc; /* Red */
  }

  .medium-priority {
    background-color: #ffebcc; /* Orange */
  }

  .low-priority {
    background-color: #ccffcc; /* Green */
  }
